.wraper {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 124px;
    height: 124px;
}

@media screen and (min-width: 768px) {
    .wraper {
        padding: 147px;
    }
    .img {
        width: 162px;
        height: 162px;

    }
}
